/Gauge.CSharp.NoTests.userprefs
/Gauge.CSharp.Lib.userprefs
/TestResults-Lib.xml
/Gauge.CSharp.userprefs
/Gauge.CSharp.Core.userprefs
/.paket/paket.exe
bin
obj
*.suo
*.sln.DotSettings
*.sln.DotSettings.user
*.psess
packages
*.nupkg
*.csproj.user
artifacts/
*.Sln.ide
IntegrationTestSample/gauge-bin
IntegrationTestSample/logs
IntegrationTestSample/reports
