/Gauge.CSharp.NoTests.userprefs
/Gauge.CSharp.Lib.userprefs
/TestResults-Lib.xml
/Gauge.CSharp.userprefs
/Gauge.CSharp.Core.userprefs
/.paket
/.vscode
bin
obj
*.suo
*.sln.DotSettings
*.sln.DotSettings.user
*.psess
packages
*.nupkg
*.csproj.user
*.userprefs
artifacts/
*.Sln.ide
IntegrationTestSample/gauge_bin
IntegrationTestSample/.gauge
IntegrationTestSample/logs
IntegrationTestSample/reports
.fake
*TestResults.xml
paket-files 
gauge-tests
.vs
UpgradeLog.htm
paket.local