source https://www.nuget.org/api/v2

nuget NuGet.CommandLine
nuget Google.ProtocolBuffers 2.4.1.555 framework: >= net45
nuget Microsoft.CodeAnalysis.Analyzers 1.1.0 framework: >= net45
nuget Microsoft.CodeAnalysis.Common 1.1.0 framework: >= net45
nuget Microsoft.CodeAnalysis.CSharp 1.1.0 framework: >= net45
nuget Microsoft.Web.Xdt 2.1.1 framework: >= net45
nuget NLog 4.2.2 framework: >= net45
nuget NuGet.Core 2.10.1 framework: >= net45
nuget System.Collections.Immutable 1.1.37 framework: >= net45
nuget System.Reflection.Metadata 1.1.0 framework: >= net45

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

group Test
  source https://nuget.org/api/v2

  nuget Moq 4.2.1502.0911 framework: >= net45
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
