source https://www.nuget.org/api/v2
framework net46

nuget Gauge.CSharp.Core
nuget Gauge.CSharp.Lib
nuget Microsoft.CodeAnalysis.Analyzers 1.1.0 framework: >= net45
nuget Microsoft.CodeAnalysis.Common 1.1.0 framework: >= net45
nuget Microsoft.CodeAnalysis.CSharp 1.1.0 framework: >= net45
nuget NLog 4.2.2 framework: >= net45
nuget NuGet.Core framework: >= net45
nuget System.Collections.Immutable 1.1.37 framework: >= net45
nuget System.Reflection.Metadata 1.1.0 framework: >= net45
// locked to this version because GaugeProjectBuilder does not like newer
nuget FSharp.Core
nuget FAKE.Lib 5.2
nuget Microsoft.Web.Xdt
nuget Google.Protobuf 3.6.0
nuget Google.Protobuf.Tools 3.6.0

// [ FAKE GROUP ]
group Build
    source https://api.nuget.org/v3/index.json
    nuget SourceLink.Fake
    nuget Fake.DotNet.Cli 5.2
    nuget Fake.DotNet.Testing.NUnit 5.2
    nuget Fake.DotNet.Testing.OpenCover 5.2
    nuget Fake.IO.FileSystem 5.2
    nuget Fake.Core.Target 5.2
    nuget Fake.Core.ReleaseNotes 5.2
    nuget Fake.Runtime 5.2
    nuget Fake.DotNet.AssemblyInfoFile 5.2
    nuget Fake.DotNet.MSBuild 5.2
    nuget Fake.IO.Zip 5.2
    nuget Fake.Tools.Git 5.2

group Test
  source https://nuget.org/api/v2
  framework net46

  nuget Moq 4.7
  nuget NUnit
  nuget NUnit.Runners
  nuget OpenCover
  nuget ReportGenerator